POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_HOST=''
POSTGRES_PORT=
POSTGRES_DATABASE=''

ACCESS_TOKEN_SECRET=''
REFRESH_SECRET=''
FINNHUB_API_KEY=''
MARKETAUX_API_KEY=''

AI_PROVIDER=''
OLLAMA_URL=''
AI_MODEL=''

PORT=3003
