.user-asset-position {
  height: 100%;

  .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: auto;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    &-row {
      display: flex;
      gap: 12px;
      width: 100%;
    }
  }
}
