.asset-details-page {
  display: flex;
  height: 100%;
  width: 100%;
}

.title {
  display: flex;
  gap: 8px;
}

.top {
  display: grid;
  gap: var(--MarginM);
  grid-template-columns: 1fr 300px;
}

.bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
}
